.venv_alc
Examination_Form.pdf
Lab_Record.pdf

BK.MDS_molecular_dynamics_simulations_of_proteins/data/COPY_THIS_Caro_Carlo
BK.MDS_molecular_dynamics_simulations_of_proteins/data/COPY_THIS_Caro_Carlo.zip

AG.DMH_dark_matter_halos/data
rockstar-galaxies
AG.DMH_dark_matter_halos/AG.DMH_visualizations/*.png